<h1>新規登録</h1>
<%= form_with model: @shop, local: true do |f| %>

  <div><%= f.label :名称 %></div>
  <div><%= f.text_field :name %></div>

  <div><%= f.label :内容 %></div>
  <div><%= f.text_field :description %></div>


  <div><%= f.label :場所 %></div>
  <div><%= f.text_field :address, placeholder: "住所" %></div>


  <div><%= f.label :店舗写真 %></div>
  <div><%= f.file_field :images, accept: "image/png, image/jpeg, image/gif" , multiple: true %></div>

  <div><%= f.submit %></div>


<% end %>

<%= link_to '戻る', root_path %>
<%= link_to ' ログアウト ',destroy_user_session_path, method: :delete%>