<div class="signup-page signup-shops">
  <div class="container">
    <div class="signup-header"><h1>お席貸出し新規登録</h1></div>
    <div class="shops-signup-form">
      <%= form_with model: @shop, local: true do |f| %>

      <div class="shop-images">
        <!-- <div><%= f.label :店舗写真 %></div>
        <div><%= f.file_field :images, accept: "image/png, image/jpeg, image/gif" , multiple: true %></div>
        <ul>
          <li><%= image_tag 'example_img_1.png' %></li>
          <li><%= image_tag 'example_img_2.png' %></li>
          <li><%= image_tag 'example_img_3.png' %></li>
          <li><%= image_tag 'example_img_1.png' %></li>
          <li><%= image_tag 'example_img_2.png' %></li>
        </ul> -->
      </div>

      <div class="images">
        <%= f.fields_for :images do |i| %>
              <button type="button" class="btn btn-outline-secondary rounded-pill">
                 <%= i.file_field :image_url , type: 'file',accept: 'image/jpeg,image/gif,image/png'%>
              </button>
        <% end %>
      </div>



      <div class="form-groups">

        <div class="form-group">
          <div><%= f.text_field :name, placeholder: "店舗名" %></div>
        </div>

        <!-- <div class="form-group">
          <div><%= f.text_field :address, placeholder: "住所" %></div>
        </div> -->

        <!-- <div class="form-group">
          <div><%= f.text_field :address, placeholder: "使用しているカラー剤" %></div>
        </div>

        <div class="form-group">
          <div><%= f.text_field :address, placeholder: "使用しているパーマ剤" %></div>
        </div>

        <div class="form-group">
          <div><%= f.text_field :address, placeholder: "使用しているトリートメント剤" %></div>
        </div>

        <div class="form-group">
          <div><%= f.text_field :address, placeholder: "道具、設備、アメニティ" %></div>
        </div> -->

        <!-- <div class="form-group">
            <div class="sns-account">
              <div><%= f.text_field :instagram_account, placeholder: "Instagram" %></div>
              <div><%= f.text_field :twitter_account, placeholder: "Twitter" %></div>
              <div><%= f.text_field :facebook_account, placeholder: "Facebook" %></div>
            </di -->
        </div>

        <!-- <div class="form-group">
          <div><%= f.label :店舗紹介文 %></div>
          <div><%= f.text_area :introduction, size: "53x10" %></div>
        </div> -->
      </div>

      <div class="signup-submit-btn"><%= f.submit %></div>

      <div class="sign-up-option-btn">
        <%= link_to '戻る', root_path %>
        <%= link_to ' ログアウト ',destroy_user_session_path, method: :delete%>
      </div>

      </div>
    <% end %>
  </div>
</div>
