<h1>新規登録</h1>
<%= form_with model: @shop, local: true do |f| %>

  <div><%= f.label :名称 %></div>
  <div><%= f.text_field :name %></div>

  <div><%= f.label :内容 %></div>
  <div><%= f.text_field :description %></div>

  <div><%= f.label :席数 %></div>
  <div><%= f.collection_select :seet_id, Seet.all,:id,:seet %></div>

  <div><%= f.label :こんな人にオススメ！！ %></div>
  <div><%= f.collection_select :recommend_id, Recommend.all,:id,:text %></div>

  <div><%= f.label :場所 %></div>
  <div><%= f.text_field :address, placeholder: "住所" %></div>

  <div><%= f.label :店舗写真 %></div>
  <div><%= f.file_field :image, multiple: true %></div>

  <div><%= f.submit %></div>
<% end %>

<%= link_to '戻る', root_path %>
<%= link_to ' ログアウト ',destroy_user_session_path, method: :delete%>