<h1>詳細</h1>

<div>
	名称 : <%= @shop.name %>
</div>

<div>
	内容 : <%= @shop.description %>
</div>

<div>
  店舗写真 :
  <% @shop.images.each do |i| %>
   <%= image_tag i.image_url.to_s , width: '10%', height: '10%' %>
  <% end %>
</div>

<div>
	 住所 : <%= @shop.address %>
</div>

<div>
   緯度 : <%= @shop.latitude %>
</div>


<div>
   経度 : <%= @shop.longitude %>
</div>

<div id="map" style="width: 400px; height: 200px;"></div>


<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>

<% if @shop.user_id == current_user.id %>
<h3><%= link_to '編集', edit_shop_path(@shop) %></h3>
<h3><%= link_to '削除', shop_path(@shop), method: :delete ,"data-confirm" => "本当に削除しますか？"%></h3>
<% end %>
<div>
	<%= link_to '戻る', shops_path %>
</div>

