<% if user_signed_in? %>
	<li>
		<%=link_to " 店舗 " ,shops_path %>
	</li>
	<li>
		<%=link_to " 髪を切る " ,stylists_path %>
	</li>
	<li>
		<%= link_to ' ログアウト ',destroy_user_session_path, method: :delete%>
	</li>
	<% else %>

	<li>
	  <%= link_to ' ログイン ',new_user_session_path%>
	</li>
	<li>
	  <%= link_to ' 新規登録  ',new_user_registration_path%>
	</li>
<% end %>

<a class="circle">
  <span><%= link_to " 店舗を登録する " ,new_shop_path %></span>
</a>
<h3><%= link_to " 美容師として登録する " ,new_stylist_path %></h3>

<p id="pageTop">
  <a href="#"><i class="fas fa-angle-double-up"></i></a>
</p>