<div>
    	<h2><%= link_to " 自由な美容師になりたい " ,new_stylist_path %></h2>
    	<h2><%= link_to " 髪型を変えたい " %></h2>
    	<h2><%= link_to " 空いている席を貸したい " ,new_shop_path %></h2>
</div>
<div>
	<div>For B&C とは</div>
	<div>
		<h2>#description#description#description#description</h2>
		<h2>#description#description#description#description</h2>
		<h2>#description#description#description#description</h2>
		<h2>#description#description#description#description</h2>
		<h2>#description#description#description#description</h2>
	</div>
	<div>
		<div>
			<%= image_tag 'main1.jpg', style: "height: 400px; weight: 300px;" %>
		</div>
		<div>
			<h1>全ての美容師に適正価格を</h1>
			<h1>全ての美容師に適正価格を</h1>
			<h1>全ての美容師に適正価格を</h1>
			<h1>全ての美容師に適正価格を</h1>
			<h1>全ての美容師に適正価格を</h1>
			<h1>全ての美容師に適正価格を</h1>
			<h1>全ての美容師に適正価格を</h1>
		</div>
	</div>
	<div>
		<div>
			<%= image_tag 'main2.jpg', style: "height: 400px; weight: 300px;" %>
		</div>
		<div>
			<h1>理想の髪型を</h1>
			<h1>感覚的に見つけることができる</h1>
			<h1>理想の髪型を</h1>
			<h1>感覚的に見つけることができる</h1>
			<h1>理想の髪型を</h1>
			<h1>感覚的に見つけることができる</h1>
			<h1>理想の髪型を</h1>
		</div>
	</div>
	<div>
		<div>
			<%= image_tag 'main3.jpg', style: "height: 400px; weight: 300px;" %>
		</div>
		<div>
			<h1>空いている席を有効活用</h1>
			<h1>空いている席を有効活用</h1>
			<h1>空いている席を有効活用</h1>
			<h1>空いている席を有効活用</h1>
			<h1>空いている席を有効活用</h1>
			<h1>空いている席を有効活用</h1>
			<h1>空いている席を有効活用</h1>
		</div>
	</div>
</div>

<p id="pageTop">
  <a href="#"><i class="fas fa-angle-double-up"></i></a>
</p>