<div class="signup_stylists">
  <div class="container">
    <div class="stylists_signup_form">
      <h1>新規登録</h1>
      <%= form_with model: @stylist, local: true do |f| %>

      <div class="stylists_signup_form_box">
        <div class="form_header"><%= f.label :名前 %></div>
        <div class="text_form"><%= f.text_field :name %></div>

        <div><%= f.label :活動拠点 %></div>
        <div><%= f.collection_select :base_id, ::Base.all,:id,:base %></div>

        <div><%= f.label :得意なヘアスタイル %></div>
        <div><%= f.collection_select :hairstyle_id, Hairstyle.all,:id,:menu %></div>

        <div><%= f.label :開始日 %></div>
        <div><%= f.date_select :date_start %></div>

        <div><%= f.label :終了日 %></div>
        <div><%= f.date_select :date_fin %></div>

        <div><%= f.label :プロフィール画像 %></div>
        <div><%= f.file_field :images, accept: "image/png, image/jpeg, image/gif" , multiple: true %></div>
        
        <div class="btn_stylists_submit"><%= f.submit %></div>
        
      </div>
    
      <div class="stylists_signup_form_description">
        <div><%= f.label :自己紹介 %></div>
        <div><%= f.text_area :description, size: "60x15" %></div>
      </div>
      <div class="btn_stylists_login_back_logout">
        <div class="btn signup_back">
          <%= link_to '戻る', root_path %>
        </div>
        <div class="btn signup_logout">
          <%= link_to ' ログアウト ',destroy_user_session_path, method: :delete%>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
