<!DOCTYPE html>
<html>
  <head>
    <title>Beauty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//maps.google.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  </head>

  <body>
    <%= yield %>
    <h3><%= link_to " 店舗を登録する " ,new_shop_path %></h3>
    <h3><%= link_to " 美容師として登録する " ,new_stylist_path %></h3>

  </body>
</html>
